@charset "UTF-8";

/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
  
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color:#ffffff;
  background-size: 100vw 100vw;
}
header{
	background-color:black;
}
.preloader{
	background-color:white;
	width: 100vw;
	height: 100vw;
	position:relative;
	z-index:-2;
}
.preloader img{
	width:40%;
	background-color:white;
	top:40%;
	left:32%;
	position:fixed;
	z-index:-1;

}

.landing-container img{
  width:100%;
  display:block;
  position:relative;

  height: 25vw; /* You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%);	
}

.landing-container img:hover{
  filter: brightness(80%);	
  transition:all 1s ease;
}

.landing-container{
	height:25vw;

}
#username{
  color:#ff3300;
  font-weight:525;
}
#landing-words{
  height:100%;
  vertical-align:middle;
  font-family: 'Source Sans Pro', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-weight:100;
  font-size: 7.5em;
  color: white !important;
  display: block;
  text-align:center;
  width:100%;
  text-shadow:2px 6px 6px #000000;
  z-index: 1;
  overflow:hidden;
  position:relative;	
  margin-top:-17vw;
}

.credit-text{
  color:grey;
  font-style: italic;
  font-size: 10px;
  z-index: 12;
  position: absolute;

  left:10px;
  margin-top:-13vw;
}
.img-separator{
    margin-top:-11vw;
    padding-bottom:1vw;
	background-color:#000000;
    z-index: 12;
    position:absolute;	
	height:3vw;
	width:100%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:6vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}
  
.nav-word{
	color:#000000;
	margin-top:0.5vw;}
	
.quote{
	 background-color:#ffffff;}

.logo img{
  width: 22%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:4vw;}

li a {
  display:block;
  text-align:left;}


 .job-quote{
 text-align: center;
 font-size:4em;
 padding-bottom: 6vw;
 font-weight: bold;
 color:#000000;}
 
 .word-highlight{
 color:#ff3300;
 font-size:1em;
 display:inline;}

.search-bar {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 25vw;
  padding: 1.25vw 2vw;
  margin: 1vw 0;
  margin-top:2vw;
  box-sizing: border-box;
  color:black;
  font-size:1.5em;
  position:absolute;
  left:11vw;
 
  background-color:#ffffff;
  border-radius: 15px;
  border: 2px solid #999999;
  box-shadow: 1px 1px 4px #cccccc;}

.location-bar {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 25vw;
  padding: 1.25vw 2vw;
  margin: 1vw 0;
  margin-top:2vw;
  box-sizing: border-box;
  color:black;
  font-size:1.5em;
  position:absolute;
  left:37vw;

  background-color:#ffffff;
  border-radius: 15px;
  border: 2px solid #999999;
  box-shadow: 1px 1px 4px #cccccc;}
  
#locations-list{
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 25vw;
  padding: 1.25vw 2vw;
  margin: 1vw 0;
  box-sizing: border-box;
  color:black;
  font-size:1.5em;
  position:absolute;

  left:37vw;

  background-color:#ffffff;
  border-radius: 15px;
  border: 2px solid #999999;
  box-shadow: 1px 1px 4px #EBEBEB;

}

#catgeory-list{
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 25vw;
  padding: 1.25vw 2vw;
  margin: 1vw 0;
  box-sizing: border-box;
  color:black;
  font-size:1.5em;
  position:absolute;
  left:63vw;
  background-color:#ffffff;
  top:25vw;
  border-radius: 15px;
  border: 2px solid #999999;
  box-shadow: 3px 3px 4px #EBEBEB;
}

.category-bar {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 25vw;
  padding: 1.25vw 2vw;
  margin: 1vw 0;
  margin-top:2vw;
  box-sizing: border-box;
  color:black;
  font-size:1.5em;
  position:absolute;
  left:63vw;
  background-color:#ffffff;

  border-radius: 15px;
  border: 2px solid #999999;
  box-shadow: 3px 3px 4px #cccccc;}
  
input[type=text]:focus {
  border: 2px solid #ff3300;
 outline: none !important;}
 
input[type=search]:focus {
  border: 2px solid #ff3300;
 outline: none !important;}

.findjobs-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff3300;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.25em;
  padding: 1.5vw;
  width: 12vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
  margin-top:2vw;
  left:44vw;
  top: 10vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.findjobs-button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  transition: 0.5s;
  font-size:1.5em;}

.findjobs-button:hover span {
  padding-right: 2.5vw;}
 
 .findjobs-button:hover {
  border-radius:29px;}
  
.findjobs-button:hover span:after {
  opacity: 1;
  right: 0;}

.boxes{
    position: relative;
}
.whyemploytt {
	background-color:#ffffff;
	margin-top:4vw;
	padding-top:4vw;
	padding-bottom:7vw;}

.why-quote {
	color:black;
	text-align: center;
 	font-size:4em;
 	font-weight: bold;}
 	
.why-secondaryquote{
	 color:#ff3300;
	 text-align: center;
 	 font-size:3em; 	
 	 font-weight: bold; 
 	 padding-right:3.5vw;
	padding-left:3.5vw;
	width:33.33%;
	
}
.why-table{
	margin-top:4.5vw;
 	table-layout: fixed ;
 	width: 100% ;
}

.why-words{
	padding-top:0.75vw;
	text-align: center;
	font-size:2em;
	font-weight:300;
	padding-bottom:3vw;
	padding-right:3.5vw;
	padding-left:3.5vw;
	width:33.33%;
}
	
#middle{
	border-right:0.45vw solid #ff3300;
	border-left:0.45vw solid #ff3300; 	
}
.step-quote{
	color:#000000;
	text-align: center;
 	font-size:4em;
 	font-weight: bold;
}
.steps{
	padding-top:4vw;
	padding-bottom:3vw;

}

.step-number{
	color:#ff3300;
	text-align: center;
	font-size:4.5em;
	font-weight:bold;
	padding-left:15vw;
	padding-top:4vw;
	padding-right:2vw;
	font-style:italic;
}

.step-words{
	font-size:2.5em;
	color:#000000;
	padding-top:4vw;
	font-weight:300;

}

.separator{
	margin-top:12vw;
	background-color:#ff3300;
	height:3vw;
	width:100%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.login-body{
 background-size:100%;
 background-color:#000000;
 background-repeat:no-repeat;
 -webkit-backdrop-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
 -webkit-perspective: 1000;
 perspective: 1000;
}

.login-body img{
 height:100vw;
 width:100vw;	
}

.login-container{
	background-color:#ffffff;
	text-align:center;	
	width:30%;
	height:25vw;
	margin-left:35vw;
	margin-top:0.5vw;
	border-radius:1vw;
	position:absolute;
	padding-bottom:10vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-logo img{
  width: 20%;
  display:block;
  height: auto;
  position:relative;
  padding-top:7vw;
  margin-left: 40%;}


.login-quote{
width:100%;
 margin-top:4vw;
 display:block;
 margin-left:auto;
 margin-right:auto;
 padding-bottom:1vw;
 font-size:3.0em;
 font-weight: 650;
 color:#000000;
 position:absolute;
}

  
 .login-table{
  width:70%;
  margin-top:1vw;
  table-layout: fixed ;
  margin-left:15%;
  position:relative;
  background-color:#ffffff;
  }
  
 .login-table td{
  width:50%;
  padding:0.5vw;
  }
  
 #firebaseui-auth-container{
  width:100vw;
  height:1%;
  position:absolute;
  margin-top:9vw;
  z-index:1;
  }
 
  #submitButton{
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.25em;
  padding: 1.5vw;
  width: 12vw;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  margin-top:0vw;
  transition: 0.5s;
  margin-left:5vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

  #submitButton span:after{
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  transition: 0.5s;
  font-size:1.5em;}

  #submitButton:hover span {
  padding-right: 2.5vw;}
  
  #submitButton:hover span:after {
  opacity: 1;
  right: 0;}
  

 .employer-logo img{
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:4vw;
  padding-bottom:6vw;
 }
.topnav{
	margin-top:-0.6vw;
	margin-left:-0.4vw;
	width:100vw;
}
 .employer-quote{
	text-align: left;
 	font-size:5.5em;
 	margin-top:2vw;
 	line-height:61px;
 	padding-left:1vw;
 	font-weight: bold;
 	color:#000000;}
 	 	
 .employer-subquote{
    color:#ffffff;
    line-height:-10px;
 	margin-top:-3vw;
	text-align: left;
	padding:1vw;
 	font-size:.6em;
 	font-weight: bold;
 	background-color:#666666;}
 	
  .employer-quote br{
 	line-height:0px;
}
 
.postjob-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #666666;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  margin-left:1vw;
  padding: 1.5vw;
  width: 15vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.postjob-button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

.postjob-button:hover span {
  padding-right: 2.5vw;}

.postjob-button:hover span:after {
  opacity: 1;
  right: 0;}


.employer-table{
	width:80%;
	height:60vw;
	padding-bottom:3vw;
	margin-left: 10%;
}

.employer-table td{
	width:50%;
	height:90%;
}
.profile-container{
	margin-top:8vw;
	height:100vw;
	width:50vw;
	margin-left:4vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.stars{
	font-size:1.5em;
	color:red;
	font-style:bold;
}
.profile-logo img{
	width:25vw;
    padding-top:5vw;
	height:auto;
	display:block;
	padding-left:5vw;
}
.profile-quote{
	color:black;
	padding-left:5vw;
	text-align: left;
 	font-size:4em;
 	font-weight: bold;
 	margin-top:1vw;	
}

.firstname-label{
	margin-left:5vw;
}

#firstname{
	margin-left:5vw;	
}

.dob-label{
	margin-left:5vw;	
}

.dobfield{
	margin-left:5vw;		
}

.address1field{
	margin-left:5vw;	
}

.address1-label{
	margin-left:5vw;		
}

.city-label
{
	margin-left:5vw;		
}

.cityfield
{
	margin-left:5vw;		
}

.disable-labels{
	margin-left:5vw;	
}

.disablefield{
	margin-left:5vw;	
}

#fileButton{
	margin-left:5vw;	
}

#progress-bar{
	margin-left:5vw;
	width:80%;
	color:#ff3300;
}
.tabCont{
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
}
.tabCont .butCont{
  height: 15%;
}
.tabCont .butCont button{
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  color:black !important;
  outline: none;
  padding: 10px;
  font-size: 18px;
  background-color: #ffffff;
  box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.1), 6px -6px 5px 0px rgba(0,0,0,0.05);
}
.tabCont .butCont button:hover{
    color:black;
   color:#ff3300 !important;
	background-color: whitesmoke !important;
    transition:0.5s;
}

.tabCont .butCont button:focus{
  background-color: #d7d4d4;
    color:black;
}

.about-words{
	color:black;
	font-size:1.4em;
	font-weight:500;
	margin-left:20vw;
	margin-right:20vw;
}

.aboutus{
	color:black;
	font-weight:600;
	margin-left:20vw;
	margin-right:20vw;	
}
.tabCont .content{
  height: 10vw;
  background-color: white !important;
  padding-top: 105px;
  display: none;
  color:black;
  
}

#contact-words{
	color:black;
	font-size:1.4em;
	font-weight:500;
	margin-left:20vw;
	margin-right:20vw;	
}
#find-a-job{
	color:#ff3300 !important;	
	background-color: white !important;
}

#find-a-job:focus{
	color:#ff3300 !important;
	background-color: whitesmoke !important;
	
}

.jobtable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  /* table-layout: fixed; */
  align-content: center;
}


footer{
  width:100%;
  bottom:-32vw;
  position:relative;
  height:auto;
  
}
.footer-distributed{


  /* Set a specific height */
	background-image: url("./images/landingimage.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}