@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color:#ffffff;
  background-size: 100vw 100vw;
  height: 100%
}

header{
	background-color:black;
}

#username{
color:#ff3300;
font-weight:525;
}

body {
  background-color:white;
}


.topnav {
    position: -webkit-sticky;
    position: sticky;
    background:#ffffff; 
    overflow: hidden;
    height:80px;
    top: 0px;
    z-index: 10;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.topnav a {
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

 .topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}
  #username{
    color:#ff3300;
    font-weight:525;
  }
.nav-word{
	color:#000000;
    margin-top:0.5vw;}

@font-face{
    font-family: 'Avenir';
    src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Light.otf')  format('opentype'); /* Safari, Android, iOS */
    font-display: fallback;
}

.metrics{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.account-metrics{
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.5em;
}
.single-metric{
  border-radius: 15px;
  background-color: rgb(250, 250, 250); 
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  
}
.metric-account-label{
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
}

.metric-account-number{
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}



.job-metrics{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left:-20px;
  justify-content: center;
  align-items: center;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  background-color: rgb(250, 250, 250); 
  box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
  border-radius: 15px;
  text-align: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}


.charts{
  margin-top: 5vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  text-align: center;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  background-color: rgb(250, 250, 250); 
  box-shadow: 3px 3px 3px 3px rgb(177, 177, 177);
  padding-top:3vh;
  padding-bottom:3vh;
  border-radius: 15px;
}

.chart-title{
  width:40vw;
  height:30vh;
  padding-left: 40px;
}

.charts-metric{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom:100px;
}