@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
 html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color:#ffffff;
  background-size: 100vw 100vw;}
  
  #username{
	color:#ff3300;
	font-weight:525;
}

#menuToggle{
  display:none;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:70px;
  top: 0px;
  z-index: 10;
}



.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-bottom:1vw;
  padding-top:15px;
  text-decoration: none;
  font-size: 18px;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#330099;
  font-size: 18px;
}
  
.nav-word{
	color:#000000;
  margin-top:0.5vw;}
	
.employer-logo img{
  width: 30%;
  height: auto;
  margin-right:auto;
  display:block;
  margin-left:auto;
  position:relative;
  padding-top:4vw;
  z-index:9;
 }

 @media (max-width: 880px) {

  .employer-logo img{
    padding-top:8vw;
    width:40%;
   }
   #mobile-menu {
     height:auto !important;
     width:350px !important;
     z-index:10000;
     padding-top:0vh;
     position:absolute;
   }

   #mobile-menu  .mobile-menu-text{
     padding:0vw;
     height:1vh !important;
     border-bottom: none;

   }

   #mobile-menu li {     
    padding-top:4vh;
    padding-bottom:4vh;
    border-bottom: 2px solid rgb(27, 27, 27);
  }

  }
 

.employer-background{
	  min-height: 100%;
    min-width: 1024px;
	  background-repeat: no-repeat;
    position: fixed;
    top: 3;
    left: 0;
    width:100%;
    height:auto;
 	  position:absolute;
   	z-index:0;
  	overflow:hidden;
  	opacity:0.5;
}

@media (max-width: 880px) {

  .employer-background{
    opacity:0.35 !important;
    height:80vh;

  }}
   
 .employer-quote{
	text-align: left;
 	font-size:5.5em;
 	line-height:61px;
 	padding-left:1vw;
 	margin-left:5vw;
 	font-weight: bold;
 	color:#000000;
 	position:absolute;
 	z-index:5;
 	margin-top:-2vw;
 	text-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
 	 	
 .employer-subquote{

  color:#ffffff;
  line-height:-10px;
 	margin-top:-3vw;
	text-align: left;
	padding:1vw;
 	font-size:.6em;
 	font-weight: bold;
 	background-color:#330099;}
 	
  .employer-quote br{
 	line-height:0px;
}
@media (max-width: 880px) {

  .employer-quote{
    text-align: left;
     font-size:4.5em;
     line-height:61px;
     padding-left:1vw;
     margin-left:5vw;
     font-weight: bold;
     color:#000000;
     position:absolute;
     z-index:5;
     margin-top:3vw;
     text-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
  
  #username{
      color:#ff3300 !important;
  }
  
  }
.postjob-button{
  z-index:5;
  margin-left:6vw;
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.45vw;
  padding: 1.25vw;
  margin-bottom:1vw;
  width: 15vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position:relative;
  margin-top:200px;
  margin-bottom:3vh;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.postjob-button span:after{
  content: '\00bb';
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

.postjob-button:hover span {
  padding-right: 2.5vw;
}

.postjob-button:hover{
  border-radius: 29px;
}

.postjob-button:hover span:after {
  opacity: 1;
  right: 0;}

  @media (max-width: 880px) {

    .postjob-button{
      z-index:5;
      margin-left:6vw;
      display: inline-block;
      border-radius: 4px;
      background-color: #330099;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 1.25vw;
      margin-bottom:1vw;
      width: 180px;
      height:50px;
      transition: all 0.5s;
      cursor: pointer;
      font-weight: 600;
      position:absolute;
      margin-top:225px;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
    
    }
  
.viewjob-button{
  z-index:5;
  margin-left:2vw;
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.45vw;
  padding: 1.25vw;
  margin-bottom:1vw;
  width: 15vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position:absolute;
  margin-top:200px;
  margin-bottom:3vh;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

  @media (max-width: 880px) {

    .viewjob-button{
      z-index:5;
      margin-left:6vw;
      display: inline-block;
      border-radius: 4px;
      background-color: #330099;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 1.25vw;
      margin-bottom:1vw;
      width: 180px;
      height:50px;
      transition: all 0.5s;
      cursor: pointer;
      font-weight: 600;
      position:absolute;
      margin-top:290px;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
    
    }

.viewjob-button span:after{
  content: '\00bb';
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

.viewjob-button:hover span {
  padding-right: 2.5vw;
}

.viewjob-button:hover{
  border-radius: 29px;
}

.viewjob-button:hover span:after {
  opacity: 1;
  right: 0;}


.employer-table{
	width:80%;
	height:20vw;
	padding-bottom:3vw;
	margin-left: 10%;
	z-index:4;
}

.employer-table td{
	width:90%;
	height:90%;
}

.employer-containter{
	height:auto;
	width:100vw;
	z-index:5;
	position:relative;

}

@media (max-width: 880px) {

  footer{
    margin-top:50vh !important;
  }}

