@charset "UTF-8";
/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  	background-color:whitesmoke;
  background-size: 100vw 100vw;}
  #username{
	color:#ff3300;
	font-weight:525;
}
.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 18px;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  padding-top:1.2vw;}
  
.nav-word{
	color:#000000;
	margin-top:0.5vw;}
	
.about-container{
	height:40vw;
	width:100vw;
}	

.employerjoblist h1{
    margin-top:4vw;
	margin-left:15vw;
    margin-right:20vw;
    font-size:3.6em;
    font-weight:600;
    border-radius:16px;
    padding:12px;
    color:white;
    background-color:#ff3300;
}

/* p{
	font-size:1.3em;
	padding-top:1vw;
	margin-left:17vw;
    margin-right:23vw;
} */

.jobList{
  background: #fff;
  margin: 30px auto;
  align-self: center;
  padding:  10px 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.Table{
  width: 80%;
  table-layout: fixed;
  margin-left:auto; 
  margin-right:auto;
}

.Table .rowone{
  width: 200px;
}
.Table .rowtwo{
  /* width: 60%; */
  text-align: left;
}

.Table .rowtwo p{
  text-align: left;
}
.quote{
 background-color:#ffffff;}

.logo img{
width: 22%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
padding-top:4vw;}

li a {
display:block;
text-align:left;}
button{
  border: 1px;
  background: #fff;
  border-radius: 10px;
  padding: 9px;
  height: 40%;
  box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff3300;
  cursor: pointer;
  display:inline-block;
}
button:hover{
box-shadow: inset 0 0 10px rgb(177, 177, 177);;
}

.jobTable {
font-family: Helvetica, sans-serif;        
display:block;
margin-top:-1vw;
margin-left:auto;
margin-right:auto;
border-radius:16px;
-moz-border-radius:16px;
-webkit-border-radius: 16px;
/* table-layout: fixed; */
align-self: center;
/* position: center; */

}

.jobTable .normalButton{
border: 1px;
background: #fff;
border-radius: 10px;
padding: 9px;
height: 40%;
box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
font-weight: bold;
letter-spacing: 1px;
color: #ff3300;
cursor: pointer;
/* display:inline-block; */
float: right;
}
.jobTable .normalButton:hover{
box-shadow: inset 0 0 10px rgb(177, 177, 177);
}
.jobTable .applied{
border: 1px;
background: rgb(0, 255, 21);
border-radius: 10px;
padding: 9px;
height: 40%;
box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
font-weight: bold;
letter-spacing: 1px;
color: #ff3300;
cursor: pointer;
/* display:inline-block; */
float: right
}
.jobTable .applied:hover{
box-shadow: inset 0 0 10px rgb(177, 177, 177);
}



.jobTable p{
text-align:left;
padding-left:2vw;
padding-top:5px;
margin-bottom:5px;
padding-right:1vw;
font-size:1.2em;
color:#494949;
}

.jobTable .jobDiv{
background-color: rgb(233, 233, 233); 
width: 100%;
/* border: 1px dashed rgb(119, 119, 119); */
border: 2px;
padding: 5px;
margin: 5px;
box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);
}
.collapse{
  background-color: #494949;
  color: #c8c8c8;
  cursor: pointer;
  /* width: 0px; */
  /* border: 1px dashed rgb(119, 119, 119); */
  border: none;
  padding: 5px;
  margin: 5px;
}
.active, .collapse:hover{
  background-color: #d40000;
  color: #c8c8c8;
  cursor: pointer;
  /* width: 0px; */
  /* border: 1px dashed rgb(119, 119, 119); */
  border: none;
  padding: 5px;
  margin: 5px;
}

.jobs{
display: none;
overflow: hidden;
/* background-color: #fff; */
transition: max-height 0.3s ease-out;
}
.users{
  width: auto;
  display: none;
  overflow: hidden;
  /* background-color: rgb(180, 180, 180); */
  transition: max-height 0.3s ease-out;
  grid-template-columns: auto auto;
  /* background-color:#b9b9b9; */
  padding: 5px;
  padding-left: 10px;
  border: 2px dotted;
  margin-left: 10px;
  }
.users_head{
  font-size: 16px;
  padding: 10px;
}
.users_head:hover{
  text-decoration: underline;
  cursor: pointer;
}

.jobTable h4{
  background-color:#ff3300;
  background: linear-gradient(90deg, rgba(51,0,153,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-size:2px;
  border-radius:16px;
}

.jobTable h1{
  text-align:left;
  display:inline;
  padding-top:10px;
  padding-right:1vw;
  padding-left:2vw;
	padding-bottom:0vw;
	font-size:1.8em;
	color:#ff3300;
}

.jobTable h2{
  text-align:left;
  padding-top:1vw;
  padding-right:1vw;
  padding-left:2vw;
  padding-bottom:0vw;
  font-weight:bold;
	font-size:1.4em;
	color:#000000;
}

.jobTable h3{
  text-align:left;
  padding-top:1vw;
  padding-right:1vw;
  padding-left:2vw;
  font-weight:500;
	font-size:1.2em;
	color:#494949;
}

.grid-items{
  /* background-color: #b9b9b9; */
  /* border1 1px solid  */
  padding: 10px;
  font-size: 20px;
  /* text-align: left; */
}

strong{ font-weight: bold;}

.button{ 
  /* border-radius: 3px; */
  cursor: pointer; 
  display: inline-block; 
  font-family: Verdana, sans-serif; 
  font-size: 14px; 
  /* font-weight: 400;  */
  /* line-height: 20px;  */
  padding: 3px 7px 3px; 
  margin: 16px 0 0 16px; 
  transition: all 20ms ease-out; 
  vertical-align: top;
}
button:hover,
button:active {
  background: color-dark;
  box-shadow: inset 0 2px 3px rgba(black, 0.2);
}
.fa {
  text-shadow: 0 1px 0 rgba(white, 0.3);
}

.button .fa{ 
  float: left; 
  font-size: 14px; 
  line-height: 20px; 
  margin: -1px 8px 0 -4px; 
  vertical-align: top;
}

.checkbox{
  list-style:none;
  padding: 10px;
  display: hidden;
}
.checkbox label{
  display: inline-block;
  background-color: rgb(82, 82, 82);
  border: 2px solid rgb(214, 214, 214);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .3s;
}
.checkbox label{
  padding: 8px 12px;
  cursor: pointer;
}
.checkbox label:before{
  display: inline-block;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 6px 2px 2px;
  content: "\f076";
  transition: transform .3s ease-in-out;
}

.checkbox input[type = "radio"]:checked + label:before{
  content: "\f00c";
  transform: rotate(360deg);
  transition: transform .3s ease-in-out;
}
.checkbox input[type = "radio"]:checked + label{
  border: 2px solid #068599;
  background-color: #00778a;
  color: #a1a1a1;
  transition: all .3s;
}
.checkbox input[type = "radio"]:focus + label{
  border: 2px solid #00aec5;
}

.checkbox input [type="radio"]{
  display : absolute;
  position: absolute;
  opacity: 0;
}
