@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
 html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color:#ffffff;
  background-size: 100vw 100vw;}
  
  #username{
	color:#ff3300;
	font-weight:525;
}

#menuToggle{
  display:none;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:70px;
  top: 0px;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-bottom:1vw;
  padding-top:15px;
  text-decoration: none;
  font-size: 18px;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#330099;
  font-size: 18px;
}
  
.nav-word{
	color:#000000;
  margin-top:0.5vw;}
	
.employer-logo img{
  width: 30%;
  height: auto;
  margin-right:auto;
  display:block;
  margin-left:auto;
  position:relative;
  padding-top:4vw;
  z-index:9;
 }

 @media (max-width: 880px) {

  .employer-logo img{
    padding-top:8vw;
    width:40%;
   }
  
  }
 

.employer-background{
	  min-height: 100%;
    min-width: 1024px;
	  background-repeat: no-repeat;
    position: fixed;
    top: 3;
    left: 0;
    width:100%;
    height:auto;
 	  position:absolute;
   	z-index:0;
  	overflow:hidden;
  	opacity:0.5;
}

@media (max-width: 880px) {

  .employer-background{
    opacity:0.35 !important;
  }}
   
 .employer-quote{
	text-align: left;
 	font-size:5.5em;
 	line-height:61px;
 	padding-left:1vw;
 	margin-left:5vw;
 	font-weight: bold;
 	color:#000000;
 	position:absolute;
 	z-index:5;
 	margin-top:-2vw;
 	text-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
 	 	
 .employer-subquote{

  color:#ffffff;
  line-height:-10px;
 	margin-top:-3vw;
	text-align: left;
	padding:1vw;
 	font-size:.6em;
 	font-weight: bold;
 	background-color:#330099;}
 	
  .employer-quote br{
 	line-height:0px;
}
@media (max-width: 880px) {

  .employer-quote{
    text-align: left;
     font-size:4.5em;
     line-height:61px;
     padding-left:1vw;
     margin-left:5vw;
     font-weight: bold;
     color:#000000;
     position:absolute;
     z-index:5;
     margin-top:3vw;
     text-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
  
  }
.postjob-button{
  z-index:5;
  margin-left:6vw;
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.45vw;
  padding: 1.25vw;
  margin-bottom:1vw;
  width: 15vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position:absolute;
  margin-top:200px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.postjob-button span:after{
  content: '\00bb';
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

.postjob-button:hover span {
  padding-right: 2.5vw;
}

.postjob-button:hover{
  border-radius: 29px;
}

.postjob-button:hover span:after {
  opacity: 1;
  right: 0;}

  @media (max-width: 880px) {

    .postjob-button{
      z-index:5;
      margin-left:6vw;
      display: inline-block;
      border-radius: 4px;
      background-color: #330099;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 1.25vw;
      margin-bottom:1vw;
      width: 180px;
      height:50px;
      transition: all 0.5s;
      cursor: pointer;
      font-weight: 600;
      position:absolute;
      margin-top:225px;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
    
    }
  
.viewjob-button{
  z-index:5;
  margin-left:22vw;
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.45vw;
  padding: 1.25vw;
  margin-bottom:1vw;
  width: 15vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position:absolute;
  margin-top:200px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

  @media (max-width: 880px) {

    .viewjob-button{
      z-index:5;
      margin-left:6vw;
      display: inline-block;
      border-radius: 4px;
      background-color: #330099;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 1.25vw;
      margin-bottom:1vw;
      width: 180px;
      height:50px;
      transition: all 0.5s;
      cursor: pointer;
      font-weight: 600;
      position:absolute;
      margin-top:290px;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
    
    }

.viewjob-button span:after{
  content: '\00bb';
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

.viewjob-button:hover span {
  padding-right: 2.5vw;
}

.viewjob-button:hover{
  border-radius: 29px;
}

.viewjob-button:hover span:after {
  opacity: 1;
  right: 0;}


.employer-table{
	width:80%;
	height:20vw;
	padding-bottom:3vw;
	margin-left: 10%;
	z-index:4;
}

.employer-table td{
	width:90%;
	height:90%;
}

.employer-containter{
	height:auto;
	width:100vw;
	z-index:5;
	position:relative;

}

footer{
  height:100%;
  font-weight:400;
  top:210px;
  position:relative;
  height:auto;
  /* Set a specific height */
  background-image: url('../images/webpImages/landingimage copy.webp'),url('../images/landingimage copy.jpg') ;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-distributed{

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
    font-size:17px;
}

.footer-distributed .footer-links a:hover{
    color:  #ff3300;

}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
    font-weight:500;
    font-size:13px;
}

.footer-distributed .footer-center i{
    background-color: #ff3300;
    color:  #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #90b1eb;

    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #ff3300;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{

    color: #ff3300;
    width: 40px;
    height: 40px;

}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
 
    footer{
        top:340px;
    }

    .footer-distributed{
        font: bold 14px sans-serif;
        bottom:-370px;
        text-align: center;
    }

    .footer-distributed .footer-links{
        font-size:15px;
        text-align: center;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        font-size:12px;
    }
    .footer-distributed .footer-company-name{
        text-align:center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .footer-distributed .footer-company-about{
        text-align:center;
    }
    
    .footer-distributed .footer-company-about span{
        text-align:center;
    }
}
