@charset "UTF-8";
/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  	background-color:rgb(255, 255, 255);
  background-size: 100vw 100vw;}
  #username{
	color:#ff3300;
	font-weight:525;
}

nav{
  display:none;
}


@media (max-width: 880px) {
  nav{
    display:inline;
  }

  .topnav{
    display:none;
  }

  .logo{
    display:none;
  }
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 18px;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  padding-top:1.2vw;}
  
.nav-word{
	color:#000000;
	margin-top:0.5vw;}
	
.about-container{
	height:40vw;
	width:100vw;
}	

.employerjoblist h1{
    padding-top:10vh;
    font-size:3.6em;
    font-family:  Avenir,Helvetica, sans-serif;
    font-weight:600;
    border-radius:0px;
    padding-left:15vw;
    color:white;
    width:85vw;
    background-color:#1c0055;
}



/* p{
	font-size:1.3em;
	padding-top:1vw;
	margin-left:17vw;
    margin-right:23vw;
} */

.jobList{
  background: #fff;
  margin: 30px auto;
  display: inline-block;
  padding:  10px 10px;
  margin-left:auto; 
  margin-right:auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.Table{
  display: flex;
  width: 100%;
  table-layout: fixed;
justify-content: center;
}

.Table .rowone{
  width: 20vw;
  font-family: Avenir, sans-serif;
  font-weight:bold;
  font-size:1.3em;
}
.Table .rowtwo{
  width : 100%;
}



.Table .rowone h2{
  color:#330099;
}

@media (max-width: 880px) {

  .Table .rowone h2{
    color:white;
  }
}

.Table .rowtwo{
  /* width: 60%; */
  text-align: right;
  width: 50%;

}

@media (max-width: 880px) {

  .Table .rowtwo{
    /* width: 60%; */
    text-align: right;
    width: 80%;
  
  }
}

hr{
  display:none;
}

.Table .rowtwo p{
  text-align: right;
}

.Table .rowtwo p span{
  color:white;
}

.quote{
 background-color:#ffffff;}

.logo img{
  width: 10%;
  display: block;
  height: auto;
  position:absolute;
  margin-top:-4.5vw;
  margin-left: 2vw;
  z-index:10;
  position:fixed;}

li a {
display:block;
text-align:left;}

button{
  background: #fff;
  font-family: Avenir, sans-serif;
  font-size:1em;
  border-radius: 10px;
  padding: 9px;
  height: 40%;
  font-weight: bold;
  color: #330099;
  cursor: pointer;
  display:inline-block;
}
button:hover{
  cursor: pointer;
}

.jobTable {
font-family: Avenir, sans-serif;        
margin-top:-1vw;
display: flex;
justify-content: center;
width:100%;
border-radius:16px;
-moz-border-radius:16px;
-webkit-border-radius: 16px;
/* table-layout: fixed; */
/* position: center; */

}

.jobTable .normalButton{
border: 1px;
background: #fff;
border-radius: 16px;
padding: 9px;
height: 40%;
font-weight: bold;
letter-spacing: 1px;
color: #ff3300;
cursor: pointer;
/* display:inline-block; */
float: right;
}
.jobTable .normalButton:hover{
  cursor: pointer;
}
.jobTable .applied{
border: 1px;
background: rgb(0, 255, 21);
border-radius: 10px;
padding: 9px;
height: 40%;
font-weight: bold;
letter-spacing: 1px;
color: #ff3300;
cursor: pointer;
/* display:inline-block; */
float: right
}

.jobTable p{
text-align:left;
padding-left:2vw;
padding-top:5px;
margin-bottom:5px;
padding-right:1vw;
font-size:1.4em;
color:#494949;
font-family:Avenir, Helvetica, sans-serif;
}

#pend_div{
  background-color:inherit;
}

.jobTable .jobDiv{
  background-image: radial-gradient( circle farthest-corner at 15% 10%,  rgba(255,255,255,1) 1.4%, rgba(255,255,255,0.9) 5.6%, rgba(51,0,153,1) 98.9% );
  background-color:#1c0055;
  padding-bottom:1.5vh;  
  padding-top:1.5vh;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  width:64.5vw;
  border-radius:16px;
  box-shadow: 0px 3px 8px 0px rgb(219, 218, 218);
  outline:none;
}

@media (max-width: 880px) {

  .jobTable .jobDiv{
    background-image:none;
    background-color:#1c0055;
    padding-bottom:1.5vh;  
    padding-top:1.5vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    width:90vw;
    border-radius:16px;
    box-shadow: 0px 3px 8px 0px rgb(219, 218, 218);
    outline:none;
  }
}

.jobTable .jobDiv:hover{

  box-shadow: 0px 3px 10px 0px rgb(146, 146, 146);
  outline:none;
}

.collapse{
  color: #330099;
  cursor: pointer !important;
  /* width: 0px; */
  /* border: 1px dashed rgb(119, 119, 119); */
  border: none;
  padding: 5px;
  margin: 5px;
  outline:none;
}
.active, .collapse:hover{

  color: #330099;
  outline:none;
  cursor: pointer !important;
  /* width: 0px; */
  /* border: 1px dashed rgb(119, 119, 119); */
  border: none;
  padding: 5px;
  margin: 5px;
}
.jobs{
display: none;
overflow: hidden;
/* background-color: #fff; */
transition: max-height 0.3s ease-out;
}
.users{
  width: 40vw;
  display: none;
  overflow: hidden;
  position: absolute;
  transition: max-height 1.3s ease-out;
  grid-template-columns: auto auto;
  padding: 5px;
  padding-left: 10px;
  border: 2px dotted;
  margin-left: 10px;
  text-align:left !important;
  justify-content: left;
  background-color:white;
  border-radius:16px;
  position:absolute;
  box-shadow: 0 3px 6px 0 rgb(145, 145, 145);
  }
.users_head{

  font-size: 16px;
  padding: 10px;
}
.users_head:hover{
  text-decoration: underline;
  cursor: pointer;
}

.jobTable h4{
  background-color:#ff3300;
  background: linear-gradient(90deg, rgba(51,0,153,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-size:2px;
  border-radius:16px;
}

.jobTable h1{
  text-align:left;
  display:inline;
  padding-top:10px;
  padding-right:1vw;
  padding-left:2vw;
	padding-bottom:0vw;
	font-size:1.8em;
	color:#ff3300;
}

.jobTable h2{
  text-align:left;
  padding-top:1vw;
  padding-right:1vw;
  padding-left:2vw;
  padding-bottom:0vw;
  font-weight:bold;
	font-size:1.4em;
	color:#000000;
}

.jobTable h3{
  text-align:left;
  padding-top:1vw;
  padding-right:1vw;
  padding-left:2vw;
  font-weight:500;
	font-size:1.2em;
	color:#ffffff;
}

.grid-items{
  /* background-color: #b9b9b9; */
  /* border1 1px solid  */
  padding: 10px;
  font-size: 20px;
  text-align: left !important;
  justify-content: left !important;
  /* text-align: left; */
}

.material-icons{
  color:white;
}

strong{ font-weight: bold;}

.button{ 
  /* border-radius: 3px; */
  cursor: pointer; 
  display: inline-block; 
  font-family: Avenir, sans-serif; 
  font-size: 14px; 
  /* font-weight: 400;  */
  /* line-height: 20px;  */
  padding: 3px 7px 3px; 
  margin: 16px 0 0 16px; 
  transition: 0.5s; 
  vertical-align: top;
}
button:hover,
button:active {
  background: white;
  cursor: pointer;
}
.fa {
  text-shadow: 0 1px 0 rgba(white, 0.3);
  color:white;
}

.button .fa{ 
  float: left; 
  font-size: 14px; 
  line-height: 20px; 
  margin: -1px 8px 0 -4px; 
  vertical-align: top;
  color:white;
}

.checkbox{
  /* float: right; */
  list-style:none;
  padding: 10px;
  display: inline-block;
}
.checkbox label{
  display: inline-block;
  color: #ffffff;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .3s;
}
.checkbox label{
  padding: 8px 12px;
  cursor: pointer;
}
.checkbox label:before{
  display: inline-block;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 6px 2px 2px;
  content: "\f076";
  transition: transform .3s ease-in-out;
}

.checkbox input[type = "radio"]:checked + label:before{
  content: "\f00c";
  transform: rotate(360deg);
  transition: transform .3s ease-in-out;
}
.checkbox input[type = "radio"]:checked + label{
  border: 2px solid #068599;
  background-color: #00778a;
  color: #ffffff;
  transition: all .3s;
}
.checkbox input[type = "radio"]:focus + label{
  border: 2px solid #00aec5;
}

.checkbox input [type="radio"]{
  display : absolute;
  position: absolute;
  opacity: 0;
}
@keyframes batch{
  0%{
    transform: scale(0);
    opacity: 0;
  }33%{
    transform: scale(1);
    opacity: 1;
  }100%{
    transform: scale(3);
    opacity: 0;
  }
}

.batch {
  position: relative;
}
.batch:before,.batch:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.4);
    border-radius: 50%;
    opacity: 0;
    margin: auto;
}
.batch:before {
    animation: pulse 1.5s infinite linear;
}
.batch:after {
    animation: pulse 2s .4s infinite linear;
}
.batch:hover:before, :hover:after {
    display: none;
}

label::before{
  color:rgba(0,0,0,0);
}

label{
  font-size:1.2em;
}

.buttons{
  display: inline-block;
  justify-content: center;
}

.accept{
  display: inline-block;
  background: rgb(22, 170, 30);
  box-shadow: 0 3px 6px 0 rgb(202, 202, 202);
  text-decoration: inherit;
  font-family: Avenir, Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border:none;
  border-right:2px solid white;
  cursor: pointer;
  height: 5.6vh;
  margin-top:2vh;
  width:20vw;
  text-align:center;
  color: #ffffff;
  transition: background .3s, transform .3s, box-shadow .3s;
  will-change: transform;
}
.accept:hover{
  background: rgb(22, 170, 30);
  box-shadow: 0 4px 18px 0 rgba(0,0,0,0.2);
  transform: translate3d(0, -2px, 0);
  cursor: pointer;
  border-radius: 24px;
  transition:0.5s;
}
.accept:active{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  transform: translate3d(0, 1px, 0);
}

.cancel{
  display: inline-block;
  background: rgb(219, 15, 15);
  box-shadow: 0 3px 6px 0 rgb(202, 202, 202);
  text-decoration: none;
  font-size: 14px;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Avenir, Arial, sans-serif;
  height: 5.6vh;
  margin-top:2vh;
  width:20vw;
  text-align:center;
  color: #ffffff;
  transition: background .3s, transform .3s, box-shadow .3s;
  will-change: transform;
}
.cancel:hover{
  background: rgb(219, 15, 15);
  box-shadow: 0 4px 18px 0 rgba(0,0,0,0.2);
  transform: translate3d(0, -2px, 0);
  cursor: pointer;
  border-radius: 24px;
  transition:0.5s;
}
.cancel:active{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  transform: translate3d(0, 1px, 0);
}

.statusDivs{
  display: none;
  overflow: hidden;
  background-color: inherit;
  transition: max-height 0.3s ease-out;
  /* background-color:#b9b9b9; */
  padding: 5px;
  /* padding-left: 10px; */
  /* border: 2px dotted; */
  margin-left: 20px;
}
.statuses{
  cursor: pointer;
}

.jobDiv table{
  width:100%;
  display: flex;
  justify-content: center;
}

#sl_div{
  background-color:inherit;
}

.users_head{
  background-color:white;
  color:#330099 !important;
  border-radius:10px;
  padding:5px;
}

#decline_div{
  background-color:inherit;
}

strong{
  color:#330099;
  cursor: pointer;
}
