@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  	background-color:#ffffff;
  background-size: 100vw 100vw;}
  
  #username{
	color:#ff3300;
	font-weight:525;
}

.preloader{
	background-color:white;
	width: 100vw;
	height: 100vw;
	position:relative;
	z-index:-2;
}
.preloader img{
	width:40%;
	background-color:white;
	top:40%;
	left:32%;
	position:fixed;
	z-index:-1;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

 .topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#330099;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}
  
.nav-word{
	color:#000000;
	margin-top:0.3vw;}
	
.employer-logo img{
  width: 30%;
  height: auto;
  margin-right:auto;
  display:block;
  margin-left:auto;
   position:relative;
   padding-top:1vw;
   z-index:9;
 }
 
ul{
  list-style-type: none;
  padding: 0;
}

li{
    padding: 16px;
    background: #f6f6f6;
    font-size: 16px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 100%;
}

li:nth-child(even){
    padding: 16px;
    background: #f2f2f2;
    text-align: left;
}

li span{
    display: block;
}

li span:nth-child(1){
    font-size: 14px;
    margin-top: 6px;
    color: rgb(78, 76, 76);
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

.employer-background{
	min-height: 100%;
    min-width: 1024px;
	background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    top: 3;
    left: 0;
    width:100%;
    height:auto;
 	position:absolute;
 	z-index:0;
 	overflow:hidden;
	opacity:0.5;
}


   
 .employer-quote{
	text-align: left;
 	font-size:5.5em;
 	line-height:61px;
 	padding-left:1vw;
 	margin-left:5vw;
 	font-weight: bold;
 	color:#000000;
 	position:absolute;
 	z-index:5;
 	margin-top:-2vw;
 	text-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
 	 	
 .employer-subquote{

    color:#ffffff;
    line-height:-10px;
 	margin-top:-3vw;
	text-align: left;
	padding:1vw;
 	font-size:.6em;
 	font-weight: bold;
 	background-color:#330099;}
 	
  .employer-quote br{
 	line-height:0px;
}
 
.postjob-button{
  z-index:5;
  margin-left:6vw;
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.45vw;
  padding: 1.25vw;
  margin-bottom:1vw;
  width: 15vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position:absolute;
  margin-top:200px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.postjob-button span:after{
  content: '\00bb';
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

.postjob-button:hover span {
  padding-right: 2.5vw;
}

.postjob-button:hover{
  border-radius: 29px;
}

.postjob-button:hover span:after {
  opacity: 1;
  right: 0;}
  
.viewjob-button{
  z-index:5;
  margin-left:22vw;
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.45vw;
  padding: 1.25vw;
  margin-bottom:1vw;
  width: 15vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position:absolute;
  margin-top:200px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.viewjob-button span:after{
  content: '\00bb';
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

.viewjob-button:hover span {
  padding-right: 2.5vw;
}

.viewjob-button:hover{
  border-radius: 29px;
}

.viewjob-button:hover span:after {
  opacity: 1;
  right: 0;}


.employer-table{
	width:80%;
	height:20vw;
	padding-bottom:3vw;
	margin-left: 10%;
	z-index:4;
}

.employer-table td{
	width:90%;
	height:90%;
}

.employer-containter{
	height:auto;
	width:100vw;
	z-index:5;
	position:relative;

}

