html {
  font-family: Helvetica, Arial, sans-serif;
  background-color:#ffffff;
  background-size: 100vw 100vw;
  height: 100%
}

@font-face {
  font-family: 'Exo';
  src:url('../fonts/Exo/Exo-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-family: 'Exo-Regular';
  src:url('../fonts/Exo/Exo-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}



.title-questions {
  font-family: 'Exo',Helvetica, sans-serif;
  padding-top:5vh;
  padding-bottom: 5vh;
  margin-left:auto;
  margin-top:4vw;
  margin-bottom:4vw;
  margin-right:auto;
  text-align: center;
  font-size:6vh;
  font-size:3.6em;
  font-weight:600;
  border-radius:16px;
  padding:12px;
  color:white;
  background-color:#ff3300;
  width:60%;
 }

.questions-and-answers{
  display: flex;
  flex-direction: column;
  margin-left:20vw;
  margin-right:20vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 3vh;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2.3vh;
    transition: 0.3s;
    font-family: 'Exo',Helvetica, sans-serif;
    font-weight: bold;  
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 3vh;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panel-words{
    font-family: 'Exo-Regular',Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2vh;
    line-height: 3vh;
    margin-top:1vh;
    margin-bottom:1vh;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 2vh;
    color: #ff3300;
    float: right;
   
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    float: right;
    color:#ff3300;
  }


  @media (max-width: 880px) {
    .questions-and-answers{
      margin-left:15vw;
      margin-right:15vw;
    }
    .accordion:after {
      display: none;
     
    }
    
    .active:after {
      display: hidden;
    }
  }