@charset "UTF-8";

/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  	background-color:#ffffff;
  background-size: 100vw 100vw;}
  #username{
    color:#ff3300;
    font-weight:525;
  }
.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

.topnav a:hover {
  display: inline;
  color: #ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}
  
.nav-word{
	color:#000000;
	margin-top:0.5vw;}
	
.employer-logo img{
	width:18vw;
    padding-top:3vw;
	height:auto;
	display:block;
	margin-left:10vw;
}
.employer-quote{
	color:#333333;
	margin-left:10vw;
	text-align: left;
 	font-size:3.6em;
 	font-weight: bold;
 	margin-top:4vw;	
}




form label{
    font-size:1.3em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:0vw;
}

.levels{
	  font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
}

.jobName{
	font-size:1.1em;
  padding-bottom:5px;
  font-weight:550;
  padding-right:5vw;	
  height:2.4vw;	
  margin-left:10vw;	
  margin-bottom:3vw;
  margin-top:3vw;
}

.location{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
}

.category{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
}



.flex-container {
  display: flex;
  flex-direction: row;
  height:5.6vw;
  margin-bottom:5vw;
  padding-bottom:1vw;
  margin-left:10vw;
  width:100%
}



.flex-container2 {
  display: flex;
  flex-direction: row;
  height:5.6vw;
  margin-bottom:5vw;
  padding-bottom:1vw;
  margin-left:10vw;
  width:100%
}

.employer{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
	height:2.4vw;
	
}

.jobstatus{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
	height:2.4vw;
}

.age{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:4vw;	
	height:2.4vw;
}
.gender{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;	
	height:2.4vw;	
}
.open{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;	
	height:2.4vw;		
}
input{
    font-size:1.2em;
	border-radius:4px;
	border:1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 1px 1px 3px #cccccc inset;
    padding-left:5px;
    width:14vw;
    height:2vw;

}

.about-label{
	margin-left:10vw;
}

.skills{
	margin-left:10vw;
}

textarea{
	height:4.4vw;
	width:80%;
	border-radius:4px;
	border:1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 1px 1px 3px #cccccc inset;
    font-size:1.2em;
    padding-left:5px;
    margin-top:4px;
    margin-bottom:1vw;
    margin-left:10vw;
}
textarea:focus{
	outline:none !important;
	border:2px solid #ff3300;
}

#submitButton{
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.3em;
  margin-left:10vw;
  padding: 1.5vw;
  width: 11vw;
  height:4.2vw;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

#submitButton span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

#submitButton:hover span {
  padding-right: 2.5vw;}

#submitButton:hover span:after {
  opacity: 1;
  right: 0;}
.hide{
  display: none;
}
.show{
  display:block;
}
