@charset "UTF-8";

/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  	background-color:#ffffff;
  background-size: 100vw 100vw;}
  #username{
    color:#ff3300;
    font-weight:525;
  }

  @font-face{
    font-family: 'Avenir';
    src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Heavy.otf')  format('opentype'); /* Safari, Android, iOS */
    font-display: 'Avenir';
  }
  
  @font-face{
    font-family: 'Avenir-Light';
    src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Medium.otf')  format('opentype'); /* Safari, Android, iOS */
    font-display: 'Avenir-Light';
  }

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

.topnav a:hover {
  display: inline;
  color: #ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}

nav{
  display:none;
}
  
@media screen and (max-width:880px){
  .topnav{
      display:none;
    }

nav{
  display:block;
}

  }
.nav-word{
	color:#000000;
	margin-top:0.5vw;}
	
.employer-logo img{
  width: 10vw;;
  display: block;
  height: auto;
  position:absolute;
  margin-top:-14.5vh;
  margin-left: 2vw;
  z-index:10;
  position:fixed;
}
.employer-quote{
  background-color:#1c0055;
	color:white;
  padding-left:10vw;
  width:90vw;
  padding-top:4vh;
  padding-bottom:2vh;
	text-align: left;
 	font-size:3.6em;
 	font-weight: bold;
   margin-top:4vw;	
   font-family:'Avenir', Helvetica, sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family:'Avenir', Helvetica, sans-serif;
  font-weight:400;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family:'Avenir', Helvetica, sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family:'Avenir', Helvetica, sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-family:'Avenir', Helvetica, sans-serif;
}


form label{
    font-size:1.3em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:0vw;
    font-family:'Avenir', Helvetica, sans-serif;
}

.levels{
	  font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
    font-family:'Avenir', Helvetica, sans-serif;
}

.jobName{
	font-size:1.1em;
  padding-bottom:5px;
  font-weight:550;
  padding-right:5vw;	
  height:2.4vw;	
  margin-left:10vw;	
  margin-bottom:3vw;
  margin-top:3vw;
}

.location{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
}

.category{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
}



.flex-container {
  display: flex;
  flex-direction: row;
  height:5.6vw;
  margin-bottom:5vw;
  padding-bottom:1vw;
  margin-left:10vw;
  width:100%
}



.flex-container2 {
  display: flex;
  flex-direction: row;
  height:5.6vw;
  margin-bottom:5vw;
  padding-bottom:1vw;
  margin-left:10vw;
  width:100%
}

.employer{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
    height:2.4vh;	
	
}

.jobstatus{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;
    height:2.4vh;	
}

.age{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:4vw;	
    height:2.4vh;	
}
.gender{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;	
	height:2.4vh;	
}
.open{
	font-size:1.1em;
    padding-bottom:5px;
    font-weight:550;
    padding-right:5vw;	
	height:2.4vh;		
}
input{
    font-size:1.2em;
	border-radius:4px;
	border:1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 1px 1px 3px #cccccc inset;
    padding-left:5px;
    width:14vw;
    height:2vw;

}

.about-label{
	margin-left:10vw;
}

.skills{
	margin-left:10vw;
}

textarea{
	height:4.4vw;
	width:80%;
	border-radius:4px;
	border:1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 1px 1px 3px #cccccc inset;
    font-size:1.2em;
    padding-left:5px;
    margin-top:4px;
    margin-bottom:1vw;
    margin-left:10vw;
}
textarea:focus{
	outline:none !important;
	border:2px solid #ff3300;
}

#submitButton{
  display: inline-block;
  border-radius: 4px;
  background-color: #330099;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.4em;
  margin-left:10vw;
  padding-right: 3vw;
  padding-left: 3vw;
  width: auto;
  height:6.2vh;
  margin-top:-9vh;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  font-family:'Avenir', Helvetica, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

#submitButton span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  font-size:1.5em;}

#submitButton:hover span {
  padding-right: 2.5vw;}

#submitButton:hover span:after {
  opacity: 1;
  right: 0;}
.hide{
  display: none;
}
.show{
  display:block;
}

.datePosted{
  display: block;
  padding-top:10px;
  font-size: 1.2em;
}

#jobclosed-labels{
  padding-left:10vw;
}

.disable-labels{
  padding-left:10vw;
}
#jobClosed{
  margin-left:10vw;
}

#job-form .job-boxes{
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:center;
  padding-left:11vw;
  padding-top:2vh;
  padding-bottom:10vh;
  
}
#job-form input[type="checkbox"]{
  color:black;
  width:1vw;
  height:1vw;

}

#job-form .job-boxes label{
  font-family: 'Avenir', Helvetica, sans-serif;
  padding-right:20px;
}