@charset "UTF-8";

/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#username{
	color:#ff3300;
	font-weight:525;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-size: 100vw 100vw;}

#menuToggle{
  display:none;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:70px;
  top: 0px;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-bottom:1vw;
  padding-top:15px;
  text-decoration: none;
  font-size: 18px;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  font-size: 18px;
}
  
.nav-word{
	color:#000000;
  margin-top:0.5vw;}

body{
	background-color:whitesmoke;
}
  
.findjobs-button{
  color:#ff3300;
}
.jobList{
    background: #fff;
    margin: 30px auto;
    align-self: center;
    padding:  10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.h1job{
    color: #333333;
    font-size: 4.6em;
    font-weight: bold; 
    margin: 0;  
    text-align: center;
    padding: 20px 20px 20px 20px;
}
	
.quote{
	 background-color:#ffffff;}

  
.logo img{
  width: 20%;
  display:block;
  height: auto;
  position:relative;
  padding-top:4vw;
  margin-left: 40%;}

@media (max-width: 880px) {

  .logo img{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:6vw;}

  .h1job{
    text-align: center;
    font-size:8vw;
    padding-top: 4vw;
    padding-bottom: 9vw;
    font-weight: bold;
    color:#000000;}

}

li a {
  display:block;
  text-align:left;}



form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
}
.joblists p{
	text-align:center;
	padding-bottom:4vw;
	font-size:1.5em;
	color:#999999;
}
table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  display:block;
  margin-left:10%;
  border:none;
  border-radius:16px;
  -moz-border-radius:16px;
  -webkit-border-radius: 16px;
  width:80%;
  /* table-layout: fixed; */
  align-content: center;

}

th {
  font-size: 16px;
  border-left:solid #666666 1px;
  border-top:solid #666666 1px;
  text-align: left;
  word-wrap: break-word;
  padding: 10px;
  font-weight:600;
  color:white;
  background-color:rgba(51,51,51,0.8);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	
}

tr{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

td{
  border-left:solid #dddddd 1px;
  border-top:solid #dddddd 1px;
  font-size: 16px;
  text-align: left;
  word-wrap: break-word;
  padding: 10px;
}

td:first-child, th:first-child {
     border-left: none;
}

table tr:first-child th:first-child {
  border-top-left-radius: 16px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 16px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 16px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 16px;}

tr:nth-child(even) {
  background-color: rgba(204,204,204,0.2);
}
tr:nth-child(odd) {
  background-color: white;
}
