@charset "UTF-8";

/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  	background-color:#ffffff;
  background-size: 100vw 100vw;}
#username{
	color:#ff3300;
	font-weight:500;
    text-decoration: underline;
}
.topnav {
  background: rgba(204,204,204,0.2);
  overflow: hidden;
  height:5vw;}

.topnav a {
 
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}
  
.nav-word{
	color:#000000;
  margin-top:0.5vw;}
  
.findjobs-button{
  color:#ff3300;
}
.jobList{
    background: #fff;
    margin: 30px auto;
    align-self: center;
    padding:  10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.h1job{
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0;  
    text-align: center;
    padding: 20px 20px 20px 20px;
}
	
.quote{
	 background-color:#ffffff;}

.logo img{
  width: 22%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:4vw;}

li a {
  display:block;
  text-align:left;}

/* ul{
    list-style-type: none;
    padding: 10px 10px;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}
li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}
li p{
  display: inline-block;
  font-size: 22px; 
  font-weight: normal; 
  line-height: 20px; 
  width: 12%; 
}
li button{
  display: inline-block;
  position: relative;
  width: 10%;
  height: 80%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: right;
}
li h3{
  display: inline-block;
  font-size: 20px; 
  font-weight: bold; 
  line-height: 20px; 
  width: 12%;
}
li span:nth-child(2){
  padding: 20px;
  background: #f6f6f6;
  font-size: 20px;
  color: #555;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 46px;
}
li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
} */

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  /* table-layout: fixed; */
  align-content: center;
}

td, th {
  font-size: 16px;
  border: 1px solid #dddddd;
  text-align: left;
  word-wrap: break-word;
  padding: 10px;
}
/* td .about{
  width: 20%;
  word-wrap: break-word;
} */

tr:nth-child(even) {
  background-color: #dddddd;
}

/* table thead th:nth-child(0),
table thead th:nth-child(1){
  width: 15%;
}
table thead th:nth-child(2){
  width: 20%;
}
table thead th:nth-child(3){
  width: 10%;
}
table thead th:nth-child(4){
  width: 10%;
}
table thead th:nth-child(5){
  width: 25%;
}
table thead th:nth-child(6){
  width: 5%;
} */
