@charset "UTF-8";

/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#username{
	color:#ff3300;
	font-weight:525;
}

@font-face{
  font-family: 'Avenir';
  src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Heavy.otf')  format('opentype'); /* Safari, Android, iOS */
  font-display: 'Avenir';
  font-weight:bold;
}

@font-face{
  font-family: 'Avenir-Light';
  src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Medium.otf')  format('opentype'); /* Safari, Android, iOS */
  font-display: 'Avenir-Light';
}

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-size: 100vw 100vw;
  line-height:1.6;

}


#menuToggle{
  display:none;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background-color:#ffffff;
  overflow: hidden;
  height:70px;
  top: 0px;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-bottom:1vw;
  padding-top:15px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Avenir-Light', Helvetica, sans-serif;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  font-size: 18px;
}
  
.nav-word{
	color:#000000;
  margin-top:0.5vw;}

body{
  background-color:white; 

}
  
.findjobs-button{
  color:#ff3300;
}
.jobList{
    background: #fff;
    margin: 30px auto;
    align-self: center;
    padding:  10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

	
.quote{
	 background-color:#ffffff;}

  
.logo img{
  width: 10%;
  display: block;
  height: auto;
  position:absolute;
  margin-top:-3vw;
  margin-left: 2vw;
  z-index:10;
  position:fixed;
 }

@media (max-width: 880px) {

  .logo img{
    display:none;}

  .h1job{
    text-align: center;
    font-size:6vw;
    padding-top: 4vw;
    padding-bottom: 9vw;
    margin-bottom:3vh;
    font-weight: bold;
    color:#000000;}

}

li a {
  display:block;
  text-align:left;}



form input{
    float: left;
    width: 38%;
    margin: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 1px;
    background: #fff;
    border-radius: 10px;
    padding: 9px;
    height: 40%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    letter-spacing: 1px;
    color: #ff3300;
    cursor: pointer;
    display:inline-block;
}
button:hover{
  box-shadow: inset 0 0 10px rgb(177, 177, 177);;
}

.jobTable {
  font-family: Helvetica, sans-serif;        
  display:block;
  margin-top:-1vw;
  margin-left:auto;
  margin-right:auto;
  border-radius:16px;
  -moz-border-radius:16px;
  -webkit-border-radius: 16px;
  width:60vw;

}

.jobTable .normalButton{
  border: 1px;
  background: #fff;
  border-radius: 10px;
  padding: 9px;
  height: 40%;
  box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff3300;
  cursor: pointer;
  /* display:inline-block; */
  float: right;
}
.jobTable .normalButton:hover{
  box-shadow: inset 0 0 10px rgb(177, 177, 177);
}
.jobTable .applied{
  border: 1px;
  background: rgb(0, 255, 21);
  border-radius: 10px;
  padding: 9px;
  height: 40%;
  box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff3300;
  cursor: pointer;
  /* display:inline-block; */
  float: right
}
.jobTable .applied:hover{
  box-shadow: inset 0 0 10px rgb(177, 177, 177);
}



.jobTable p{
  text-align:left;
  padding-left:2vw;
  padding-top:5px;
  margin-bottom:5px;
  padding-right:1vw;
	font-size:1.2em;
  color:#494949;

}

.jobTable div{
  /*background-color: rgb(233, 233, 233); */
  width: 60vw;
  /* border: 1px dashed rgb(119, 119, 119); */
  border: 2px;
  padding: 5px;
  margin: 5px;
  /*box-shadow: 2px 2px 3px 3px rgb(177, 177, 177);*/
}


.log-in{
  text-align:left;
  padding-left:22vw;
  padding-top:2vw;
  display:none;
  padding-bottom:4vw;
	font-size:1.2em;
	color:#666464; 
}

.modal{
  display: none;
  position: fixed;
  /* align-self: center; */
  z-index: 1;
  /* opacity: 0; */
  top: 0;
  left: 0%;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(212, 212, 212); */
  background-color: rgb(7, 7, 7, 0.4);
  transition: 0.25s;
}

.modal_content{
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* position: absolute; */
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 60%;
  padding: 20px;
  border: 2px solid #ff3300;
}

.close{
  color: rgb(80, 80, 80);
  float: right;
  font-size: 20px;
  font-weight: bolder
}

.close:hover,.close:focus{
  cursor: pointer;
}


/*.jobTable h4{
  background-color:#ff3300;
  background: linear-gradient(90deg, rgba(51,0,153,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-size:2px;
  border-radius:1px;
  height:12px;
}*/


.jobTable h2{
  text-align:left;
  padding-top:1vw;
  padding-right:1vw;
  padding-left:2vw;
  padding-bottom:0vw;
  font-weight:bold;
	font-size:1.4em;
	color:#000000;
}

.jobTable h3{
  text-align:left;
  padding-top:1vw;
  padding-right:1vw;
  padding-left:2vw;
  font-weight:500;
	font-size:1.2em;
	color:#494949;
}

@media (max-width: 880px) {


}



.material-icons{
  font-size:15px;
}

.grid1{
  display:grid;
  grid-template-columns: auto;
 /*background-color: #b9b9b9;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top:10px;
  /* margin-block: 20px; */
  text-align: left;
  width:auto;
}

@media (max-width: 880px) {

  div .grid1{
    font-size:1em !important;
    width:90vw !important;
  }

  div{
    width:400px;
  }
}


.grid2{
  display:grid;
  grid-template-columns: auto auto auto auto;
  /*background-color:#b9b9b9;*/
  padding: 10px;
}


@media (max-width: 880px) {

  .grid2{
    font-size:1em !important;
    width:400px !important;
    width:90vw !important;
  }
}

.grid-items{
  /* background-color: #b9b9b9; */
  /* border1 1px solid  */
  padding: 10px;
  font-size: 20px;
  /* text-align: left; */
}

strong{
  font-size: 15px;
}

.job-name{
  width:auto;
}

.jobTable h1{
  font-family: "Avenir", Helvetica, sans-serif;
  position:relative;
  font-size:3em;
  width:79vw;
  margin-left:-24vw;
  padding-left:22vw;
  text-align:left;
  padding-bottom:0.5vw;
  padding-top:4vh;
  margin-top:3vh;
  color:#ff3300;
  font-weight:600;
  background-color:rgb(241, 241, 241);
}
@media (max-width: 880px) {

  .jobTable{
    justify-content:left;
    margin-left:0vw;
    width:97vw;
  }
}

@media (max-width: 880px) {
  .jobTable h1{
    font-family: "Avenir", Helvetica, sans-serif;
    position:relative;
    font-size:2em;
    display:flex;
    justify-content: left;
    width:92vw;
    margin-left:-7vw;
    padding-left:10vw;
    text-align:left;
    padding-bottom:0.5vw;
    padding-top:4vh;
    margin-top:3vh;
    color:#ff3300;
    font-weight:600;
    background-color:rgb(241, 241, 241);
  }
}

.grid1 strong{
  font-family: "Avenir", serif;
  color:rgb(34, 34, 34);
}

.grid2 strong{
  font-family: "Avenir", serif;
  color:rgb(34, 34, 34);
}

@media (max-width: 880px) {

  .grid1 strong{
    font-family: 0.5em !important;
  }

  .grid2 strong{
    font-family: 0.5em !important;
  }
}

#skills-heading{
  margin-top:1vw;
}

.grid1 p{
  color:rgb(58, 58, 58);
  border-radius:10px;
  padding-bottom:0.5vw;
  font-family: 'Avenir-Light', Helvetica,sans-serif;
  background-color:rgb(246, 246, 246);

}

@media (max-width: 880px) {

  .grid1 p{
    font-family: 0.5em !important;
  }

  .grid2 p{
    font-family: 0.5em !important;
  }
}


.grid2 p{
  color:rgb(58, 58, 58);
  /*background-color:rgb(248, 248, 248);*/
  border-radius:10px;
  margin-right:1vw;
  padding-bottom:0.5vw;
  font-family: 'Avenir-Light', Helvetica, sans-serif;
  background-color:rgb(246, 246, 246);
}

div .grid1{
  margin-top:1vh;
  width:auto;
}

div .container{
  width:auto;
}

html {
  padding:0;
  margin:0;
}
