@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color:whitesmoke;
  background-size: 100vw 100vw;}

#username{
	color:#ff3300;
	font-weight:525;
}
.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}
  
.priv-container{
	width:100%;
	height:40vw;
}
.nav-word{
	color:#000000;
	margin-top:0.5vw;}

.title{
    margin-top:4vw;
	margin-left:15vw;
    margin-right:20vw;
    font-size:3.6em;
    font-weight:600;
    border-radius:16px;
    padding:12px;
    color:white;
    background-color:#ff3300;
    margin-bottom:3vw;	
}


h2{
	font-size:2.6em;
	margin-left:16vw;
	margin-right:10vw;
	padding-bottom:2vw;
}

p{
	font-size:1.4em;
	margin-left:16vw;
    margin-right:20vw;
}

footer{
	width:100%;
	height:20vw;
	bottom:-13vw;
	position:fixed;
}

.footer-distributed{

	display: block;
  /* Set a specific height */
	background-color: #292c2f;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	position: absolute;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.fa-facebook {
	padding:10px 14px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
	background-color: #322f30;
}
.fa-facebook:hover {
	background-color: #3d5b99;
}

.fa-instagram {
	padding:10px 14px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
	background-color: #322f30;
}

.fa-instagram:hover {
	background-color: #832711;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}