@charset "UTF-8";

/* -------CSS RESET---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color:whitesmoke;
  background-size: 100vw 100vw;
}

@font-face{
  font-family: 'Avenir';
  src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Light.otf')  format('opentype'); /* Safari, Android, iOS */
}

#username{
	color:#ff3300;
	font-weight:525;
}

#menuToggle{
  display:none;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  margin-top:12px;
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 18px;}

.topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  padding-top:1.2vw;}
  

.nav-word{
	color:#000000;
	margin-top:0.5vw;}

.title{
    margin-top:4vw;
   	margin-left:15vw;
    margin-right:15vw;
    font-size:3.6em;
    font-weight:600;
    border-radius:16px;
    padding:12px;
    color:white;
    background-color:#ff3300;
    margin-bottom:3vw;	
}

.priv-container{
	width: auto;
  height:auto;
  display: flex;
  flex-direction: column;
}
.date-of-writing{
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 2em;
  margin-left:15vw;
}
.priv-all-content{
  margin-right:15vw;
  margin-left:15vw;
}



.priv-section,.privacy-heading,.privacy-section-content{
  font-family: 'Avenir', Helvetica, sans-serif;
  color: black;
}

.privacy-heading{
  font-size: 2rem;
}

.priv-section{
  font-size: 1.5rem;
  line-height: 2em;
}

.privacy-section-content{
  font-size: 1.5rem;
  line-height: 2em;
}

ol{
  margin-left: 40px;
}


@media (max-width: 880px) {

  .title{
    margin-top:14vw;
  }

  #username{
    color:#ff3300 !important;
  }

}