@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  	background-color:#ffffff;
  background-size: 100vw 100vw;
}

  #username{
    color:#ff3300;
    font-weight:525;
  }
body {
  background-color:rgb(250, 250, 250) !important;
}

nav{
  display:none;
}

@media (max-width: 880px) {

  .topnav{
    display:none;
  }

  nav{
    display:block;
  }
}
.topnav {
  position: -webkit-sticky;
  position: sticky;
  background:#ffffff; 
  overflow: hidden;
  height:5vw;
  top: 0;
  z-index: 10;
}

.topnav a {
  position: relative;
  display: block;
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  padding-top:1.5vw;
  text-decoration: none;
  font-size: 1.5em;}

 .topnav a:hover {
  display: inline;
  transition:0.3s;
  color: #ffffff !important; 
  border-radius:26px;
  background-color:#ff3300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  padding-top:1.2vw;}
  
.nav-word{
	color:#000000;
	margin-top:0.5vw;}
	
.profile-container{
	margin-top:4vw;
	height:auto;
	width:80vw;
	margin-left:10vw;
  background-color:rgb(250, 250, 250) !important;
 	position:relative;
	border-radius:8px;
	margin-bottom:10vw;
}

footer{
	height:2vw;
}
.stars{
	font-size:2.2em;
	color:red;
    font-weight:600;
}

.tel-star{
	font-size:2.2em;
	color:red;
	position:absolute;
	margin-top:0vw;
  font-weight:600;
  margin-left:47vw;
}

.profile-logo img{
  width: 10%;
  display: block;
  height: auto;
  position:absolute;
  margin-top:-21vh;
  margin-left: 1vw;
  z-index:10;
  position:fixed;
}
.profile-quote{
  color:white;
  background-color:#ff3300;
  width:85vw;
	padding-left:20vw;
  padding-bottom:1vh;
  padding-top:3vh;
	text-align: left;
 	font-size:3.6em;
 	font-weight: bold;
 	margin-top:3vh;	
 	position:relative;
   z-index:1;
   font-family:'Avenir', Helvetica, sans-serif;
}

.firstname-label{
	margin-left:5vw;	
    font-size:1.3em;
    padding-bottom:5px;
    font-weight:550;
    font-family:'Avenir', Helvetica, sans-serif;
}

.lastname-label{
    position:relative;
	left:15vw;
    font-size:1.3em;
    padding-bottom:5px;
    font-weight:550;
    font-family:'Avenir', Helvetica, sans-serif;
}

@font-face{
  font-family: 'Avenir';
  src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Heavy.otf')  format('opentype'); /* Safari, Android, iOS */
  font-display: 'Avenir';
}

@font-face{
  font-family: 'Avenir-Light';
  src:url('../fonts/avenir-lt-std-cufonfonts//AvenirLTStd-Light.otf')  format('opentype'); /* Safari, Android, iOS */
  font-display: 'Avenir-Light';
}
#firstName{
	margin-left:5vw;	
  width:18vw;
  color:rgb(88, 88, 88);

}
#lastName{
	width:18vw;
	float:right;
  margin-right:5vw;
  color:rgb(88, 88, 88);
}

#phoneNumber{
  width:18vw;
	float:right;
	margin-right:5vw;
  display:block;
  color:rgb(88, 88, 88);
}


.email{
	margin-left:5vw;
	width:18vw;	
  font-size:1.3em;
  padding-bottom:5px;
  font-weight:550;
  font-family:'Avenir', Helvetica, sans-serif;

}
.password{
	margin-left:5vw;	
  font-size:1.3em;
  padding-bottom:5px;
  font-weight:550;
  font-family:'Avenir', Helvetica, sans-serif;}

#signup-password{
	margin-left:5vw;
  width:18vw;		
  color:rgb(88, 88, 88);	
}
#cnfm-password{
	margin-left:5vw;	
  width:18vw;	
  color:rgb(88, 88, 88);	
}

.dob-label{
	margin-left:5vw;
  font-size:1.3em;
  padding-bottom:5px;
  font-weight:550;
  font-family:'Avenir', Helvetica, sans-serif;}

.dobfield{
	margin-left:5vw;	
  width:18vw;
  font-family:'Avenir', Helvetica, sans-serif;
  color:rgb(88, 88, 88);
}

.address1field{
	margin-left:5vw;
  width:18vw;
  font-family:'Avenir', Helvetica, sans-serif;
  color:rgb(88, 88, 88);
}
#address2field{
	width:18vw;
	float:right;
  margin-right:5vw;
  font-family:'Avenir', Helvetica, sans-serif;
  color:rgb(88, 88, 88);
}
.address1-label{
	margin-left:5vw;		
  font-size:1.3em;
  padding-bottom:5px;
  font-family:'Avenir', Helvetica, sans-serif;}

.city-label
{
	margin-left:5vw;		
  font-size:1.3em;
  padding-bottom:5px;
  font-weight:550;
  }

.cityfield
{
	margin-left:5vw;	
  width:18vw;	
  font-family:'Avenir', Helvetica, sans-serif;
  color:rgb(88, 88, 88);
}

.disable-labels{
	margin-left:5vw;	
  font-size:1.3em;
  padding-bottom:5px;
  font-weight:550;
  font-family:'Avenir', Helvetica, sans-serif;}

.disablefield{
	margin-left:5vw;
  padding:1vw;
  font-family:'Avenir', Helvetica, sans-serif;
  color:rgb(88, 88, 88);
}

#fileButton{
  margin-left:5vw;
  font-family:'Avenir', Helvetica, sans-serif;	
}

#progress-bar, #progress2-bar{
	margin-left:5vw;
	height:1vw;
	width:87%;
	color:#eee;
	-webkit-appearance: none;
  border-radius: 2px; 
}

#progress2-bar{margin-bottom:1vw;}

progress::-webkit-progress-value {
  background: #ff3300; 
  color:#ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  transition: 1s;}
progress::-moz-progress-bar { 
	background: #ff3300; 
	color:#eee; 
    transition: 1s;}

progress[value]::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  transition: 1s;
}

#signup-form input{
	height:3.9vh;
	width:23vw;
	border-radius:4px;
	border:1px solid rgba(128, 128, 128, 0.25);
  box-shadow: 1px 1px 3px #cccccc inset;
  font-size:1.2em;
  padding-left:10px;
  margin-top:1vh;
  margin-bottom:1vh;
  font-family:'Avenir-Light', Helvetica, sans-serif;
  color:rgb(88, 88, 88);
  font-weight:900;
}
textarea{
  height:4.4vw;
	width:48vw;
	border-radius:4px;
	border:1px solid rgba(128, 128, 128, 0.25);
  box-shadow: 1px 1px 3px #cccccc inset;
  font-size:1.2em;
  padding-left:5px;
  margin-top:4px;
  margin-bottom:1vw;
  font-family:'Avenir-Light', Helvetica, sans-serif;
}
textarea:focus{
	outline:none !important;
	border:2px solid #ff3300;
}
#signup-formlabel{
    font-size:1.3em;
    padding-bottom:5px;
    font-weight:550;
    font-family:'Avenir', Helvetica, sans-serif;
}

#signup-forminput:focus {
  border: 2px solid #ff3300;
 outline: none !important;}

body{
    background-color: whitesmoke;
}

#drop_zone {
    border: 2px dashed #ccc;
    font-size:1.2em;
    color:#666666;
    border-radius: 15px;
    width: 46vw;
    height: 20vw;
    margin-top: 0.5vw;
    margin-left:5vw;
    padding: 20px;
    margin-bottom:2vw;
}

#drop_zone:hover {
    border: 2px dashed purple;
    background-color:rgba(128, 128, 128, 0.05);
    border-radius: 15px;
    width: 46vw;    
    height: 20vw;
    margin-top: 0.5vw;
    margin-left:5vw;
    padding: 20px;
    box-shadow: 1px 2px 3px #cccccc inset;
}

.dropzone-label{
    font-size:1.3em;
    padding-bottom:5px;
    font-weight:550;
    margin-left:5vw;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height:3.6vw;
  margin-bottom:5vw;
  padding-bottom:5vw;
  justify-content: center;
}

  
#updateButton{
  background-color:#663399;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.25em;
  padding: 1vw;
  width: 10vw;
  height:100%;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  margin-left:1vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}	

#updateButton span:after{
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  transition: 0.5s;
  font-size:1.5em;}

#updateButton:hover span {
  padding-right: 2.5vw;}
  
#updateButton:hover {
  border-radius:29px;}
    
#updateButton:hover span:after {
  opacity: 1;
  right: 0;}

  
 
.icon {
      /*background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;*/
      display: inline-block;
      position:relative;
      vertical-align: middle;

      padding-right:0.2vw;
      width: 1.5vw;
      height: 1.5vw;

    }

    
 .google-signin{
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
 }
 
 .google-signin span:after{
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 1vw;;
  left:5vw;
  right: -4vw;
  transition: 0.5s;
  font-size:1.5em;}

 .google-signin:hover span {
  padding-right: 2.5vw;}


    
 .google-signin:hover span:after {
  opacity: 1;
  right: 0;}

#googleSignIn{
  background-color:white;
  display: inline-block;
  border-radius: 4px;
  border:none;
  color: rgba(100,100,100,1);
  position: relative;
  padding: 0px;
  width: 15vw;
  height:100%;
  cursor: pointer;
  transition: 0.5s;
  margin-left:1vw;
  margin-bottom:5vw;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

  #googleSignIn span:after{
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 1vw;
  left:5vw;
  right: -4vw;
  transition: 0.5s;
  font-size:1.5em;}

  #googleSignIn:hover span {
  padding-right: 2.5vw;}
  #googleSignIn:hover {
  border-radius:29px;}
  #googleSignIn:hover span:after {
  opacity: 1;
  right: 0;}  

#signup-form .file-upload {
  padding-left: 5vw;
  padding-top:25px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;  
  padding-bottom:50px;
}
#signup-form .column-one{
  width:45%
}


#signup-form .column-two{
  width:45%
}

#signup-form .file-upload input[type="file"] {
  display: none;
}

#signup-form .file-label {
  position: relative;
  background-color:#501111;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 9vw;
  height:100%;
  font-weight: bold;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 1.25em;
  cursor: pointer;
  margin-left:1vw;
  color: #ffffff;
  box-shadow:  0 4px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(121, 121, 121, 0.19);
  transition: 0.2s;
  overflow:hidden;
  
}

#signup-form .file-label:hover {
  width: 10vw;
  height:auto;
  font-size: 1.6em;
  color: white;
  background-color:#ff3300;
}


#signup-form .individual-file {
  padding-bottom: 7px;
  padding-top:7px;
  border: solid red 0px;
}

#signup-form .file-name{
  border: solid blue 0px;
  font-size: 1em;
  font-family: 'Avenir';
  transition: all ease 0.5s
}

#signup-form .reset-file:hover{
  cursor:pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight:600;
  font-family:'Avenir-Light', Helvetica, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight:600;
  font-family:'Avenir-Light', Helvetica, sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight:600;
  font-family:'Avenir-Light', Helvetica, sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight:600;
  font-family:'Avenir-Light', Helvetica, sans-serif;
}

#signup-form  .button1{
  color:white;
  background-color:#E16036 !important;
}

#signup-form  .button2{
  background-color:rgb(123, 179, 231) !important;
  color:white ;
}

#signup-form  .button3{
  background-color:#ECA72C  !important;
  color:white;
}

#signup-form  .button4{
  color:white;
  background-color:rgb(202, 114, 224)!important;
}

#signup-form  .button5{
  background-color:rgb(128, 175, 100) !important;
  color:white;
}

#signup-form  .button6{
  background-color:rgb(235, 139, 139) !important;
  color:white;
}

#signup-form  .button7{
  color:white;
  background-color:rgb(117, 182, 176)!important;
}

#signup-form  .button8{
  background-color:rgb(245, 169, 98) !important;
  color:white;
}

#signup-form  .button9{
  background-color:rgb(136, 135, 182) !important;
  color: white ;
}

#signup-form  .button10{
  background-color:rgb(231, 114, 114) !important;
  color:white;
}

#signup-form  .button11{
  color:white;
  background-color:rgb(88, 177, 168) !important;
}

#signup-form  .button12{
  background-color:#ECA72C  !important;
  color:white;
}

#signup-form  .button13{
  background-color:rgb(115, 112, 182)!important;
  color:white ;
}

#signup-form  .button14{
  background-color:rgb(128, 175, 100) !important;
  color:white ;
}

.reset-file{
  color:rgb(238, 3, 3);
  padding-top:0.5vh;
  padding-left:0.5vw;
  position:absolute;
  font-size:10px !important;
}